* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 900px) {
  img {
    max-width: 30%;
  }

.title h1 {
  font-weight: bold;
  font-style: normal;
  font-size: 42px;
  margin: 32px 0;
  color: #45171B;
  opacity: 1;
  transition: opacity 1s ease;
}

.title h2 {
  font-style: normal;
  margin: 32px 0;
  padding: 0;
  font-size: 24px;
  color: #45171B;
  line-height: 1;
}

.sender {
  color: #45171B;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 24px;
}

.music {
  display: none;
}
