body {
  background-color: #45171B !important;
  font-family: 'Space Mono', monospace;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 100px;
}

.intro {
  font-size: 20px;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
}

.letter {
  display: none;
  margin-top: 30px;
  font-size: 18px;
  line-height: 1.6;
}
