body {
  background-color: #993333;
  font-family: 'Space Mono', monospace;
  color: #d8d1c2;
  text-align: center;
}

h1 {
  font-family: verdana;
  font-size: 350%;
  padding: 15px;
  margin: 30px;
}

p {
  font-family: courier;
  margin: 30px;
}

.letter {
  display: none;
}

.btn {
  margin-top: 20px;
}
